@page "/"
@inject GeminiAPI GeminiService

<PageTitle>Home</PageTitle>

<h1>My News Briefing</h1>

<!-- <div class="text-danger">
    @((MarkupString)Markdig.Markdown.ToHtml("**Coucou**"))
</div> -->

<div class="container my-4">

    <button type="button" class="btn btn-primary btn-lg"
        @onclick="GetNews"
        disabled=@isLoading>
        @if (isLoading) {
            <span class="spinner-border spinner-border-sm" role="status"></span>
            <span> Searching...</span>
        } else {
            <span>Get Today's News</span>
        }
    </button>

    @if (response == null && !isLoading) {
        <div class="alert alert-info">
            Click the button above to generate your AI-powered news briefing.
        </div>
    } else if (response != null) {
        <div class="row">
            <pre style="white-space: pre-wrap;">@response</pre>
        </div>
    }
</div>


@code {
    @using Microsoft.VisualBasic;

    private string? response;
    private bool isLoading = false;
    private List<string> myInterests = new List<string> { "Dotnet 10", "Cybersecurity" };

    private async Task GetNews() {
        isLoading = true;
        StateHasChanged();
        await GeminiService.FetchNewsAsync(myInterests);
        response = GeminiService.GetResponse();
        isLoading = false;
        StateHasChanged();
    }
}

