@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

This is a simple test : 

<div class="text-danger">
    @((MarkupString)Markdig.Markdown.ToHtml("**Coucou**"))
</div>

@code {
    @using Microsoft.VisualBasic;

}